{% load static %}
<!doctype html>
<style>
    body {
        height: 100%;
    }

    .form-register {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 5px;
    }

    form a {
        display: inline-block;
        margin-top: 25px;
        line-height: 10px;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/register.css' %}" rel="stylesheet"/>
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="col">
        <form class="form-register" action="{% url 'register' %}" method="post">

            {% if register_form.captcha.errors %}
                <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
            {% elif message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% csrf_token %}
            <h3 class="text-center">Welcome to Register Page</h3>

            <div class="form-group">
                {{ register_form.username.label_tag }}
                {{ register_form.username }}
            </div>
            <div class="form-group">
                {{ register_form.password1.label_tag }}
                {{ register_form.password1 }}
            </div>
            <div class="form-group">
                {{ register_form.password2.label_tag }}
                {{ register_form.password2 }}
            </div>
            <div>
                <a href="{% url "login" %}">
                    <ins>Login</ins>
                </a>
                <button type="submit" class="btn btn-primary float-right">注册</button>
            </div>
        </form>
    </div>
</div> <!-- /container -->

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
